body{
  font-family: sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container{
  text-align: center;
  margin-top: 120px;
}

.title{
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.quote-box{
  width:60%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  font-size: 24px;
  color: #2e7d32;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.btn{
  background-color: #1976d2;
  color: white;
  padding: 12px 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover{
  background-color: #0d47a1;
}
